<appSettings>
  <!-- update these with your Microsoft App Id and your Microsoft App Password-->
  <add key="MicrosoftAppId" value="YOUR APP ID HERE" />
  <add key="MicrosoftAppPassword" value="YOUR APP PASSWORD HERE" />
  <!-- update this with the name of your OAuth Settings on your Bot Channel Registration -->
  <add key="ConnectionName" value="graph-auth-settings"/>

  <add key="AppRootUrl" value="http://localhost:3979" />

  <!-- Only set this if running the sample locally. This will be used -->
  <!-- to set the action URLs of the actionable message -->
  <add key="NgrokRootUrl" value="" />

  <!-- Cosmos DB information -->
  <add key="DatabaseUri" value="https://localhost:8081" />
  <add key="DatabaseKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />

  <!-- Actionable Email Dashboard settings -->
  <add key="OriginatorId" value="" />
  <add key="SenderEmail" value="" />

  <!-- Enable graph request logging (performance hit) -->
  <add key="LogGraphRequests" value="true" />
</appSettings>